html {
    scroll-behavior: smooth;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(45, 46, 51);
}
nav{
    flex-direction: initial;
}
header {
    padding: 0;
    display: inline-block;
}
img {
    object-fit: scale-down;
    height: 50px;
    padding-top : 0;
    margin-top: 0;
    
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
li {
    display: inline-block;
    
}
.right {
    margin-top: 20px;
    margin-left: 1200px;

}
a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
a  :hover {
    color: #006699;
}

.right-right {
    
    margin-top: 10px;
    margin-left: 30px;
    
}
.myButton {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #006699;
	display:inline-block;
	cursor:pointer;
	color:#006699;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration:none;
    margin-left: 30px;
    text-align: center;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}