html {
    scroll-behavior: smooth;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(45, 46, 51);
    color: #24252A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #24252A;
    text-decoration: none;
}

.logo h3 {
    font-family: 'Hanalei', cursive;
    cursor: pointer;
    height: 50px;
    font-size: 45px;
    padding-top : 0;
    margin-top: 0;
    letter-spacing: 10px;
}
.logo :hover {
transition: all 0.3s ease 0s;
    color:#2eb9ff;
}

.nav_links {
    list-style: none;
}
.nav_links {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 25px;
}
.nav_links a {
    transition: all 0.3s ease 0.3s;
}
.nav_links  a  :hover {
    transition: all 0.3s ease 0s;
    color:#2eb9ff
}

.myButton {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #006699;
	display:inline-block;
	cursor:pointer;
	color:#2eb9ff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration:none;
    margin-left: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.myButton:hover {
    background-color:transparent;
    transition: all 0.3s ease 0s;
}
.myButton:active {
	position:relative;
	top:1px;
}
#burger.nav_links div {
    height: 25px;
    height: 3px;
    background-color: #24252A;
    margin: 5px;

}